
.navbar {
  
  z-index: 999;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.906);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .nav-list {
    
    li {
      
      transition: all 0.2s ease-out;
      a {
        color: white;
        text-decoration: none;
        font-size: 1.3rem;
        font-weight: bold;
      }
      
    }
    li a:hover{
      color: orange;

    }
  }
}

.navbar-logo {
  margin-left: 5vw;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

.menu-button {
  display: none;
}

.nav-list {
  margin-right: 5vw;
  list-style: none;
  li {
    display: inline-block;
    margin: auto 20px;
  }
}

@media screen and (max-width: 960px) {
  .fa {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .navbar {
    position: sticky;
    top: 0;
  }
  .menu-button {
    padding: 20px;
    border-radius: 5px;

    background-color: rgba(0, 0, 0, 0.321);
    color: white;
    position: absolute;
    top: 13px;
    right: 20px;
    display: block;
    z-index: 999;
  }
  .nav-list {
    margin-right: 0;
    width: 80%;
    height: 100vh;
    color: white;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    right: -100%;
    opacity: 0;
    transition: all 0.2s;
    li {
      display: block;
      margin: 20px auto;
      width: 100%;
      padding: 20px;
    }
  }
  .nav-list.active {
    right: 0;
    opacity: 1;
  }
}
